<div id="profileContainer">
    <div class="bgImgTintContainer">
        <div class="container">
            <div id="profileGrid" class="row">
                <div id="profilePhoto" class="col-md-6">
                    <img src="../../assets/images/ProfilePhoto.png" />
                </div>

                <div id="profileInfoPanel" class="col-md-6">
                    <table>
                        <tr *ngFor="let info of personalInfo">
                            <td>
                                <div>
                                    <h3><b>{{ info.title }}</b></h3>
                                    <span>{{ info.detail }}</span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="profile-degrees">
                                    M.S. (Computer Science) - University at Buffalo 
                                    <br />
                                    B.E. (Computer Engineering) - University of Mumbai
                                </div>
                            </td>
                        </tr>   
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

