<div id="contactMeContainer">
    <div id="sectionBanner" class="sectionBanner">
      <p id="bannerText">Contact Me</p>
    </div>
  
    <div id="contactMeContent">
      <div id="contactMeGrid">
        <div id="contactMe-grid-item">
          <form id="contactMeForm">
            <input type="text" placeholder="Name" class="form-control"  required /> 
            <input type="email" placeholder="Email" class="form-control"  required />
            <input type="tel" placeholder="Phone" class="form-control" />
            <input type="text" placeholder="Subject" class="form-control"  required />
            <textarea placeholder="Message" class="form-control"  required></textarea>
            <button class="btn btn-default">Submit</button>
          </form>
        </div>

        <hr id="verticalDivider"/>

        <div id="contactMe-grid-item">
          <div id="infoPanel">
            <table>
              <tr>
                <td>
                  <div>
                    <h3><b>Linus Castelino</b></h3>
                    <span>Developer, B.E. (Computer Engineering)</span>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <div>
                    <h6><b>Phone:</b></h6>
                    <span>+91-9594544603</span>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <div>
                    <h6><b>Email:</b></h6>
                    <span>castelinolinus@gmail.com</span>
                  </div>
                </td>
              </tr>
            </table>
          </div>

          <hr id="horizontalDivider"/>
          
          <div id="socialPanel">
          </div>

        </div>
      </div>
    </div>
  </div>