<div id="contactMeContainer">
    <div id="sectionBanner" class="sectionBanner">
      <p id="bannerText">Contact Me</p>
    </div>
  
    <div id="contactMeContent">
      <div id="contactMeGrid">
        <div id="contactMe-grid-item">
          <form id="contactMeForm">
            <input type="text" placeholder="Name" class="form-control"  required /> 
            <input type="email" placeholder="Email" class="form-control"  required />
            <input type="tel" placeholder="Phone" class="form-control" />
            <input type="text" placeholder="Subject" class="form-control"  required />
            <textarea placeholder="Message" class="form-control"  required></textarea>
            <button class="btn btn-default">Submit</button>
          </form>
        </div>

        <hr />

        <div id="contactMe-grid-item">
          info panel
        </div>
      </div>
    </div>
  </div>