<div id="contactMeContainer">
    <div id="sectionBanner" class="sectionBanner">
      <p id="bannerText">Contact Me</p>
    </div>
  
    <div id="contactMeContent" class="container-fluid">
      <div id="contactMeGrid" class="row">
        <div id="contactMe-grid-item" class="col-md-6">
          <form id="contactMeForm" #contactMeForm="ngForm" >
            <input type="text" name="name" placeholder="Name*" minlength="4" class="form-control" ngModel required /> 
            <input type="email" name="email" placeholder="Email*" minlength="4" class="form-control" ngModel required />
            <input type="tel" name="phone" placeholder="Phone" class="form-control" ngModel />
            <input type="text" name="subject" placeholder="Subject*" minlength="4" class="form-control" ngModel required />
            <textarea name="message" placeholder="Message" minlength="4" class="form-control"  ngModel required></textarea>
            
            <section>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </section>

            <button class="btn btn-default" (click)="sendMessage(contactMeForm)" >Submit</button>
          </form>

          <br />
          <p id="successMsg" *ngIf="showSuccessMsg">
            Thank you for your message. Sent to Linus successfully.
          </p>

          <p id="failureMsg" *ngIf="showFailureMsg">
            Oops.. There was an error while sending your message.
            <br />
            Please try again or use the contact details mentioned alongside.
          </p>
        </div>

        <div id="contactMe-grid-item" class="col-md-6">
          <div id="infoPanel">
            <table>
              <tr *ngFor="let info of personalInfo">
                <td>
                  <div>
                    <h3><b>{{ info.title }}</b></h3>
                    <span>{{ info.detail }}</span>
                  </div>
                </td>
              </tr>
            </table>
          </div>

          <hr id="horizontalDivider"/>
          
          <div id="socialContainer" class="container">
            <div class="row">
              <div id="socials-{{ info.type }}" class="col-xs-2" *ngFor="let info of socialsInfo">
                <a href="{{ info.hrefUrl }}" target="_blank">
                  <img src="{{ info.logoImgUrl }}" />
                </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <hr id="verticalDivider"/>