#contactMeContainer{
    height: max-content;
    position: relative;
}

#contactMeGrid{
    /* display: grid;
    grid-template-columns: 50% 2px 50%; */
    margin-top: 4%;
    /* margin-right: 10%;
    margin-left: 10%; */
    margin-bottom: 4%;
}

#contactMe-grid-item{
    padding-right : 8%;
    padding-left : 8%;
}

input{
    margin-bottom: 1%;
}

#verticalDivider{
    border-left: 1.2px solid white;
    height: 70%;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 2px;
}

#horizontalDivider{
    width: 95%;
    margin-left: 5%;
    border-left: 1.2px solid black;
    margin-top: 0px;
    margin-bottom: 0px;
}

textarea{
    height: 150px;
    word-wrap: break-word;
    overflow-x: hidden;
    resize: none;
}

button{
    width: 100%;
    background-color: #050a5a;
    color: white;
    border-radius : 0.6rem;
}

.form-control{
    border-radius : 0.6rem;
}

table{
    color: #050a5a;
    text-align: center;
    width: stretch;    /* -webkit-fill-available */
}

td>div{
    margin-bottom : 8%;
}

#socialContainer{
    margin-left : 10%;
    margin-top: 5%;
}

#socials-github img{
    width:21.99px;
     height:21.99px;
}

.col-xs-2{
    padding-right: 15%;
}

#contactMeForm>section{
    padding-right: 1.5%;
    padding-left: 1.5%;
    height: 10px;
}

mat-progress-bar{
    padding-top: 0.6%;
    height: 7px;
}

@media only screen and (max-width: 768px){
    #verticalDivider{
        display: none;
    }

    .col-xs-2{
        padding-right: 11%
    }

    mat-progress-bar{
        height: 5px;
    }

    #contactMeForm>section{
        height: 7px;
    }
}