#contactMeContainer{
    height: max-content;
}

#contactMeGrid{
    display: grid;
    grid-template-columns: 50% 2px 50%;
    margin-top: 1%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 1.5%;
}

#contactMe-grid-item{
    padding : 8%;
}

input{
    margin-bottom: 1%;
}

#verticalDivider{
    border-left: 1.2px solid white;
    height: 95%;
}

#horizontalDivider{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-left: 1.2px solid black;
    margin-top: 0px;
    margin-bottom: 0px;
}

textarea{
    margin-bottom: 1%;
    height: 200px;
    word-wrap: break-word;
    overflow-x: hidden;
    resize: none;
}

button{
    width: 100%;
    background-color: #050a5a;
    color: white;
    border-radius : 0.6rem;
}

.form-control{
    border-radius : 0.6rem;
}

table{
    margin-left : 10%;
    color: #050a5a;
}

td div{
    margin-bottom : 15%;
}

#socialContainer{
    margin-left : 12%;
    margin-top: 6%;
}

#socials-github-img{
    width:21.99px;
     height:21.99px;
}