<div id="headerContainer">
  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#rootContainer">
            <font face="Sans-Serif">Linus Castelino</font>
          </a>
        </div>
        <ul class="nav navbar-nav">
          <a href="#profExpContainer"><li>Professional Experience</li></a>
          <a href="#educationContainer"><li>Education</li></a>
          <a href="#skillsContainer"><li>Skills</li></a>
          <a href="#testimonialsContainer"><li>Testimonials</li></a>
          <a href="#contactMeContainer"><li>Contact</li></a>
        </ul>
      </div>
    </nav>
</div>

<!-- <script>
  $("a").on("click", function(){
    $("a").parent().find(".active-selection").removeClass("active-selection");
    $(this).addClass("active-selection");
  });
</script> -->