#headerContainer{
    height: 80px;
    font-size: 20px;
    line-height: 30px;
    background-color: white;
    position: fixed;
    width: -webkit-fill-available;
    opacity: 0.8;
    padding-top: 18px;
    top:0;
    z-index: 100;
}

ul{
    text-align: right;
}

li{
    margin-right: 30px;
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
    border-top: 0.6px solid rgb(252, 19, 89);
    color:#182153;
    font-weight: 500;
}

a{
    text-decoration: none;    /*to remove the default underline behavior of anchor tag on hover*/
}

li:hover{
    border-top: 2px solid rgb(252, 19, 89);
    padding-top: 14px;
    color:#7a7c86;
}


.navbar-nav{
    flex-direction: row;
}

.navbar{
    padding: 0%;
}

.navbar-header>a{
    color:#182153;
    font-size: 30px;
}

.active-selection{
    border-top: 2px solid rgb(252, 19, 89);
    margin-top: 4px;
    padding-top: 1px;
    color:#3456ff;
}