<div id="introContainer">
  <div id="introSectionBannerWrapper">
  <div id="sectionBanner" class="sectionBanner">
       <p id="bannerText">{{ SOCIALS }}</p>
  </div>
  </div>
  
  <div id="content">
    <h1>Hi there! I'm Linus</h1>
    <p>A programmer by profession. A problem solver by nature.
      <br /> <br />
      I consider myself to be a programming enthusiast and I am constantly in a quest to explore the latest cutting-edge technologies. 
      <br />
      I enjoy solving puzzles and Rubik's cubes in my free time. I also like playing the guitar.
    </p>
  </div>
</div>
