<div id="skillsContainer">
    <div id="sectionBanner" class="sectionBanner">
      <p id="bannerText">Skills</p>
    </div>
  
    <div id="skillsContent">
      <div class="bgImgTintContainer">
        <div id="skills-grid">
          <div id="skills-grid-item">
            Java Programming - Expert
          </div>
          <div id="skills-grid-item">
            Oracle Web Commerce - Expert
          </div>
          <div id="skills-grid-item">
            Shell Scripting - Proficient
          </div>
          <div id="skills-grid-item">
            SQL - Expert
          </div>
          <div id="skills-grid-item">
            JBoss - Proficient
          </div>
          <div id="skills-grid-item">
            JavaScript, jQuery - Intermediate
          </div>
          <div id="skills-grid-item">
            REST/SOAP - Intermediate
          </div>
          <div id="skills-grid-item">
            ANT - Intermediate
          </div>
        </div>
      </div>
    </div>
  </div>