<div id="skillsContainer">
    <div id="sectionBanner" class="sectionBanner">
      <p id="bannerText">Skills</p>
    </div>
  
    <div id="skillsContent" class="bgImgTintContainer">
      <div class="bgImgTintContainer container-fluid">
        <div id="skills-grid" class="row">
          <div class="col-lg-6" *ngFor="let skill of skills">
            <div id="skills-grid-item" >
              {{ skill.skillTitle }}
              <br />
              {{ skill.level }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>