<!--The content below is only a placeholder and can be replaced.-->
<div id="rootContainer">
  <app-header-section></app-header-section>

  <app-profile-section></app-profile-section>

  <app-intro-section></app-intro-section>

  <app-prof-exp-section></app-prof-exp-section>

  <app-education-section></app-education-section>

  <app-skills-section></app-skills-section>

  <app-testimonials-section></app-testimonials-section>

  <app-contact-me-section></app-contact-me-section>

  <app-footer-section></app-footer-section>
</div>
