/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";    /* For Angular Material */

.sectionBanner{
    text-align: center;
    background-color: #050a5a;
    width: 100%;
    color: white;
}

#bannerText{
    padding: 2%;
    letter-spacing:0.2em;
    font-family: sans-serif;
    margin-bottom: 0%;
    font-size: 25px;
}

.timeline-logo{
    width: 6vw;
    border: 1px solid black;
}

.timeline{
    position: relative;
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 10%;
    padding-right: 10%;
}

/* Smartphones */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .timeline-logo{
        width: 15vw;
    }

    .timeline{
        padding-top: 6vw;
        padding-bottom: 6vw;
    }
}