/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";    /* For Angular Material */

.sectionBanner{
    text-align: center;
    background-color: #050a5a;
    width: 100%;
    color: white;
}

#bannerText{
    padding: 2%;
    letter-spacing:0.2em;
    font-family: sans-serif;
    margin-bottom: 0%;
    font-size: 25px;
}