#grid-container{
    /* display: grid;
    grid-template-columns: auto auto auto; */
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 12px;
}

#grid-item{
    padding:10px;
}

#testiRef{
    font-size: 10px;
    margin-right: 11%;
    text-align: right;
}

img{
    border-radius: 50%;
    border: 1px solid black;
}

@media only screen and (max-width: 768px){
    #grid-container{
        margin-left: 0%;
        margin-right: 0%;
    }

    .col-lg-4{
        padding: 0%;
    }
}