#grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 8px;
}

#grid-item{
    padding:10px;
}

#testiRef{
    font-size: 6px;
    margin-right: 10%;
    text-align: right;
}